.home {
    display: flex;
    align-items: center;
}

.ripple{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    text-align: center;
    font-weight: bold;
}

.request-loader {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: auto;
    width: calc(100px + 10vmin);
    border-radius: 100%;
    background: #FFFFFF;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.25);
}

.request-loader span {
    position: relative;
    font-size: 72px;
    top: 5px;
    left: -5px;
}

.request-loader::after {
    opacity: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -8px;
    left: -8px;
    right: 0;
    bottom: 0;
    content: '';
    height: 100%;
    width: 100%;
    border: 8px solid rgba(0,0,0,0.2);
    border-radius: 100%;
    animation-name: ripple;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.65,0,.34,1);
    z-index: -1;
}

.request-loader::before {
    opacity: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -8px;
    left: -8px;
    right: 0;
    bottom: 0;
    content: '';
    height: 100%;
    width: 100%;
    border: 8px solid rgba(0,0,0,0.2);
    border-radius: 100%;
    animation-name: ripple;
    animation-duration: 3s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.65,0,.34,1);
    z-index: -1;
}

@keyframes ripple {
    from {
        opacity: 1;
        transform: scale3d(0.75,0.75,1);
    }
  
    to {
        opacity: 0;
        transform: scale3d(1.5,1.5,1);
    }
}



.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.ripple {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.request-loader {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.title {
    text-align: center;
    margin-top: 20px;
}

.skills {
    height: 10px;
    /* background-color: #e0e0e0; */
    border-radius: 50px;
    margin-top: 50px;
    min-width: 50%;
}
.sk{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: #bbbbbb;
    color: black;
    height: 40%;

}
.progress-bar {
    height: 100%;
    background-color: #000500;
    border-radius: inherit;
    transition: width 0.5s ease-in-out;
}